<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlm.openapi.mapper.InterfaceInfoMapper">

    <resultMap id="BaseResultMap" type="com.zlm.openapi.model.entity.InterfaceInfo">
            <id property="id" column="id" />
            <result property="name" column="name" />
            <result property="description" column="description" />
            <result property="url" column="url" />
            <result property="requestHeader" column="requestHeader" />
            <result property="responseHeader" column="responseHeader" />
            <result property="status" column="status" />
            <result property="method" column="method" />
            <result property="userId" column="userId" />
            <result property="createTime" column="createTime" />
            <result property="updateTime" column="updateTime" />
            <result property="isDelete" column="isDelete" />
    </resultMap>

    <sql id="Base_Column_List">
        id,name,description,url,requestHeader,responseHeader,
        status,method,userId,createTime,updateTime,
        isDelete
    </sql>
</mapper>
